{% extends 'layout.html.twig' %}

{% block title %}Sauveteur index{% endblock %}

{% block content %}
    <h1>Sauveteur</h1>

    <p><a href="{{ path('sauveteur_new') }}">Create new</a></p>

    <div class="cards">
        {% for sauveteur in sauveteurs %}
            <div class="card">
                <div class="card-title">
                    <h1>{{ sauveteur.patronyme }}</h1>
                    <div>{{ sauveteur.prenom }},
                        {% if sauveteur.birth != "Unknown" %}{{ sauveteur.birth }}{% else %}****{% endif %}
                        -
                        {% if sauveteur.death != "Unknown" %}{{ sauveteur.death }}{% else %}****{% endif %}</div>
                </div>
                <div class="card-body">
                    <div>
                        {% if sauveteur.maried != "Unknown" %}
                            <p>{{ sauveteur.maried }}</p>
                        {% endif %}
                        {% if sauveteur.children != "Unknown" %}
                            <p>{{ sauveteur.children }}</p>
                        {% endif %}
                        {% if sauveteur.childOf != "Unknown" %}
                            <p>{{ sauveteur.childOf }}</p>
                        {% endif %}
                    </div>
                    <div class="desc">
                        {{ sauveteur.infos }}
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('sauveteur_show', {'id': sauveteur.id}) }}" class="button">Afficher</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}
