{% extends 'layout.html.twig' %}

{% block title %}Sauvetage index{% endblock %}

{% block content %}
    <h1>Sauvetage</h1>

    <p><a href="{{ path('sauvetage_new') }}">Create new</a></p>

    <div class="cards">
        {% for sauvetage in sauvetages %}
            <div class="card">
                <div class="card-title">
                    <h1>{{ sauvetage.title }}</h1>
                    <div>{{ sauvetage.date }}</div>
                </div>
                <div class="card-body">
                    <p><b>{{ sauvetage.saved }}</b></p>
                    <div class="desc">{{ sauvetage.infos }}</div>
                </div>
                <div class="card-footer">
                    <a href="{{ path('sauvetage_show', {'id': sauvetage.id}) }}" class="button">Afficher</a>
    {#                <a href="{{ path('sauvetage_edit', {'id': sauvetage.id}) }}">edit</a>#}
                </div>
            </div>
        {% else %}
            <div>no records found</div>
        {% endfor %}
    </div>
{% endblock %}
