{% extends 'base.html.twig' %}

{% block title %}Sauvetage{% endblock %}

{% block body %}
    <h1>Sauvetage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sauvetage.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ sauvetage.code }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ sauvetage.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sauvetage.date }}</td>
            </tr>
            <tr>
                <th>Saved</th>
                <td>{{ sauvetage.saved }}</td>
            </tr>
            <tr>
                <th>Infos</th>
                <td>{{ sauvetage.infos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sauvetage_index') }}">back to list</a>

    <a href="{{ path('sauvetage_edit', {'id': sauvetage.id}) }}">edit</a>

    {{ include('sauvetage/_delete_form.html.twig') }}
{% endblock %}
